<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - My Clothing Store</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Login Page</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('shop') }}">Shop</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>
        </nav>

        <form method="POST" action="">
            {{  form.hidden_tag()   }}
            {{  form.username   }}
            {{  form.password   }}
            {{  form.submit }}
        </form>

        <a href="{{url_for('register')}}">Don't have an account? Sign up!</a>
    </header>
    <footer>
        <p>&copy; 2024 My Clothing Store. All rights reserved.</p>
    </footer>
</body>
</html>
